{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('bundles/jeroenblog/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/jeroenblog/css/theme.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{ asset('bundles/jeroenblog/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/jeroenblog/js/bootstrap.js') }}"></script>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="#">Jeroen's Blog</a>
            </div>
            <div class="navbar-collapse collapse">
              {{ knp_menu_render('JeroenBlogBundle:Builder:mainMenu') }}
            </div><!--/.nav-collapse -->
          </div>
        </div>

        <div class="container theme-showcase" role="main">
            {% block body %}{% endblock %}    
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>