{% extends 'JeroenBlogBundle:Default:base.html.twig' %}

{% block body %}
	<div class="container">
		{% set menu = knp_menu_get('JeroenBlogBundle:Builder:blogTabs', [], {'id': blog.id} ) %}
		{{ knp_menu_render(menu, {'currentAsLink': true, 'currentClass': 'active', 'compressed': true}) }}
	</div>
	<div class="col-sm-8 blog-main">
		<div class="blog-post">
            <h2 class="blog-post-title">{{ blog.title }}</h2>
            <p class="blog-post-meta">{{ blog.creationDate|date("H:i | d F Y") }} | <a href="#">{{ user.username }}</a></p>
			{{ blog.body|raw }}
          </div>
	</div>
	<div class="col-sm-3 col-sm-offset-1 blog-sidebar"></div>

{% endblock %} 